## THIS IS WHERE YOUR ENVIRONMENT VARIABLE SECRET INFO SHOULD GO 
## AFTER YOU ENTER, BOT TOKEN, SIGNING SECRET, BOT USER ID ANd YOUR YOUR OPENAI_API_KEY
#SAVE THIS FILE AS A .env file
#NEVER UPLOAD YOUR .env file to Github


### SLACK_BOT_TOKEN
## SLACK_BOT_TOKEN = (Example=my_SLACK_BOT_TOKEN)
### SLACK_SIGNING_SECRET
## SLACK_SIGNING_SECRET = (Example=my_SLACK_SIGNING_SECRET)
### SLACK_BOT_USER_ID
## SLACK_BOT_USER_ID = (Example=SLACK_BOT_USER_ID)
### OPENAI
## OPENAI_API_KEY - OpenAI API Key (Example: my-openai-api-key)
SLACK_BOT_TOKEN =putyourbottokenhere
SLACK_SIGNING_SECRET =putyoursigningsecrethere
SLACK_BOT_USER_ID =putyourbotuseridhere
OPENAI_API_KEY=putyouropenaiapikeyhere